{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <h1>Create a new Member</h1>

    {{ include('member/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_member_index') }}">back to list</a>
{% endblock %}
