{% extends 'base.html.twig' %}

{% block title %}New Matches{% endblock %}

{% block body %}
    <h1>Create a friendly match</h1>

    {{ include('matches/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_matches_index') }}">back to list</a>
{% endblock %}
