{% extends 'base.html.twig' %}

{% block title %}Edit Referees{% endblock %}

{% block body %}
    <h1>Edit Referees</h1>

    {{ include('referees/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_referees_index') }}">back to list</a>

    {{ include('referees/_delete_form.html.twig') }}
{% endblock %}
