{% extends 'base.html.twig' %}

{% block title %}New Referees{% endblock %}

{% block body %}
    <h1>Create new Referees</h1>

    {{ include('referees/_form.html.twig') }}

    <a href="{{ path('app_referees_index') }}">back to list</a>
{% endblock %}
